nav {
    max-width: 981px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .logo{
        width: 92px;
        height: 42px;
    } 
    .links{
        width: 485px;
        height: 42px;
        align-self: center;
        display: flex;
        a{  
            border-right: 1px solid #EE4367;
            padding-right: 15px;
            padding-left: 15px;
            text-decoration: none;
            color: $black;
            margin: auto auto;
            text-align: right;
        }
    }
    .nav-border{
        width: 980px;
        height: 2px;
        margin-top: 20px;
        border-bottom: $black solid 2px;
    }
}