$white: #fff;
$black: #000;

//overlay
$overlay: rgba(0,0,0,.5);
$overlay-yellow: rgba(255, 209, 64, .5);
$overlay-red: rgba(238, 67, 103, .5);
$overlay-purple: rgba(84, 13, 110, .5);
$overlay-teal: rgba(59, 205, 171, .5);
$overlay-green: rgba(8, 173, 105, .5);

//site color
$site-purple: #540D6E;
$site-red: #EE4367;
$site-yellow: #FFD140;
$site-teal:  #3BCEAB;
$site-green: #08AD69;