.event {
  .food-event-header {
    width: 981px;
    height: 378.75px;
    margin: 0 auto;
    margin-top: 50.5px;
    background-image: linear-gradient(
        to bottom,
        $overlay-yellow,
        $overlay-yellow
      ),
      url(../images/gallery/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    #event-number {
      position: absolute;
      left: 0;
      bottom: -80px;
      font-size: 300px;
      font-family: Gill;
      color: $site-yellow;
      text-shadow: 5px 5px 6px rgba(0, 0, 0, .16);
    }
    #event-name {
      margin-left: 160px;
      font-size: 140px;
      position: absolute;
      left: 0;
      bottom: -45px;
      font-family: Gill;
      color: $site-yellow;
      text-shadow: 5px 5px 6px rgba(0,0,0,.16);
    }
  }
  .dee-jay-header {
    width: 981px;
    height: 378.75px;
    margin: 0 auto;
    margin-top: 50.5px;
    background-image: linear-gradient(
        to bottom,
        $overlay-red,
        $overlay-red
      ),
      url(../images/gallery/2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    #event-number {
      position: absolute;
      left: 0;
      bottom: -80px;
      font-size: 300px;
      font-family: Gill;
      color: $site-red;
      text-shadow: 5px 5px 6px rgba(0, 0, 0, .16);
    }
    #event-name {
      margin-left: 240px;
      font-size: 140px;
      position: absolute;
      left: 0;
      bottom: -45px;
      font-family: Gill;
      color: $site-red;
      text-shadow: 5px 5px 6px rgba(0,0,0,.16);
    }
  }
  .speech-event-header {
    width: 981px;
    height: 378.75px;
    margin: 0 auto;
    margin-top: 50.5px;
    background-image: linear-gradient(
        to bottom,
        $overlay-green,
        $overlay-green
      ),
      url(../images/gallery/2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    #event-number {
      position: absolute;
      left: 0;
      bottom: -80px;
      font-size: 300px;
      font-family: Gill;
      color: $site-green;
      text-shadow: 5px 5px 6px rgba(0, 0, 0, .16);
    }
    #event-name {
      margin-left: 240px;
      font-size: 140px;
      position: absolute;
      left: 0;
      bottom: -45px;
      font-family: Gill;
      color: $site-green;
      text-shadow: 5px 5px 6px rgba(0,0,0,.16);
    }
  }
  .foodfest-header {
    width: 981px;
    height: 378.75px;
    margin: 0 auto;
    margin-top: 50.5px;
    background-image: linear-gradient(
        to bottom,
        $overlay-purple,
        $overlay-purple
      ),
      url(../images/gallery/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    #event-number {
      position: absolute;
      left: 0;
      bottom: -80px;
      font-size: 300px;
      font-family: Gill;
      color: $site-purple;
      text-shadow: 5px 5px 6px rgba(0, 0, 0, .16);
    }
    #event-name {
      margin-left: 240px;
      font-size: 115px;
      position: absolute;
      left: 0;
      bottom: -45px;
      font-family: Gill;
      color: $site-purple;
      text-shadow: 5px 5px 6px rgba(0,0,0,.16);
      white-space: nowrap;
    }
  }
  .interactional-event-header {
    width: 981px;
    height: 378.75px;
    margin: 0 auto;
    margin-top: 50.5px;
    background-image: linear-gradient(
        to bottom,
        $overlay-teal,
        $overlay-teal
      ),
      url(../images/gallery/5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    #event-number {
      position: absolute;
      left: 0;
      bottom: -80px;
      font-size: 300px;
      font-family: Gill;
      color: $site-teal;
      text-shadow: 5px 5px 6px rgba(0, 0, 0, .16);
    }
    #event-name {
      margin-left: 240px;
      font-size: 115px;
      position: absolute;
      left: 0;
      bottom: -40px;
      font-family: Gill;
      color: $site-teal;
      text-shadow: 5px 5px 6px rgba(0,0,0,.16);
      white-space: nowrap;
    }
  }
  .event-section{
      width: 981px;
      height: 256px;
      margin: 0 auto;
      .two-column{
          display: flex;
          flex-direction: row;
          padding-top: 50.5px;
          .desc-1{
              width: 490px;
              height: 133px;
              font-size: 16px;
              margin-right: 40px;
              font-family: Gill;
          }
          .desc-2{
              width: 451px;
              height: 133px;
              font-size: 16px;
              font-family: Gill;
          }
      }
  }
}
