.blog-section {
  width: 980px;
  height: 901px;
  margin: 0 auto;
}
.blog-section .blog-header-content {
  width: 100%;
  margin: 0 auto;
}
.blog-section .blog-header-content h1 {
  font-weight: normal;
  font-family: Gill;
}
.blog-section .blog-header-content .border {
  height: 80px;
  width: 234px;
  position: relative;
}
.blog-section .blog-header-content .border .border-bottom {
  border-bottom: black solid 2px;
  position: absolute;
  width: 130%;
  white-space: nowrap;
}
.blog-section .blog-images .image-blog {
  width: 380px;
  height: 140px;
}